body,html{
	height:100%
}
.bg-1{
	background-color:#FFFFFF
}
#join-us{
	background:url("img/home-content-1.jpg") center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
#see-us{
	background:url("img/home-content-2.jpg") center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
.carousel-caption{
	top: 35%;

}
